@charset "ISO-8859-1";

p.error {
	color: red;
	font: bold;
}

h3.error {
	color: red;
	font: bold;
}

body {
	background-color: #87CEEB;
}

h1 {
	align-content: center;
}

div {
	align-content: center;
}

.buttonStyle {
	background-color: #4CAF50;
	color: white;
	padding: 9px 12px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 80%;
}

.reset {
	background-color: #c0c0c0;
	color: white;
	padding: 9px 12px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

td {
	align: left;
	height: 37px;
	width: 180px;
}