<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"
	href="../static/css/home.css"></link>
<title>Edit User</title>
</head>

<body>

	<div align="center">
		<h1>Edit User Details</h1>
		<hr />
		<div align="right">
			<table>
				<tr>
					<td><a th:href="'/resetPassword'"><button
								class="logoutStyle">Reset Password</button></a></td>
					<td><a th:href="'/logout'"><button class="logoutStyle">Logout</button></a></td>
				</tr>
			</table>
		</div>

		<form th:action="@{'/edit/' + ${userId}}" th:object="${user}"
			method="post" enctype="multipart/form-data">
			<div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('*')}"
					th:each="err : ${#fields.errors('*')}" th:text="${err}"></span>
			</div>
			<hr th:if="${#fields.hasErrors('*')}" />
			<table>
				<tr hidden="true">
					<td align="left" style="height: 37px; width: 180px;">User Id</td>

					<td><input type="text" th:field="${user.userId}"
						readonly="readonly" /></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">User Name</td>

					<td><input type="text" th:field="${user.username}"
						th:required="required" maxlength="20" readonly="readonly" /></td>
				</tr>
				<!-- <tr>
					<td align="left" style="height: 37px; width: 180px;">Password</td>

					<td><input type="password" th:field="${user.password}"
						readonly="readonly" min="8"></td>
				</tr> -->
				<tr>
					<td align="left" style="height: 37px; width: 180px;">First
						Name</td>

					<td><input type="text" th:field="${user.firstName}"
						maxlength="50"></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Last Name</td>

					<td><input type="text" th:field="${user.lastName}"
						maxlength="50"></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Email</td>

					<td><input type="text" th:field="${user.email}"></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Phone
						Number</td>

					<td><input type="text" th:field="${user.phoneNumber}"
						maxlength="10"></td>
				</tr>

				<tr>
					<td align="left" style="height: 37px; width: 180px;">Experience</td>

					<td><select th:field="${user.experience}"
						th:required="required"><option value="">--</option>
							<option th:each="exp: ${expDropdownValues}" th:value="${exp}"
								th:text="${exp}"></option>
					</select> in Years</td>
				<tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Notice
						Period</td>

					<td><select th:field="${user.noticePeriod}"
						th:required="required"><option value="">--</option>
							<option th:each="notPeriod: ${noticedropdownValues}"
								th:value="${notPeriod}" th:text="${notPeriod}"></option></select> in Days</td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Upload a
						file</td>

					<td><input type="file" th:field="*{file}" /></td>
				</tr>

			</table>

			<div align="center">
				<table>
					<tr>
						<td><input type="submit" value="Submit" class="buttonStyle" /></td>
						<td><input type="reset" value="Reset" class="reset" /></td>

					</tr>
				</table>
			</div>
		</form>
		<hr />
		<table>
			<tr>
				<td><a th:href="'/welcome/' + ${user.userId}"><button
							class="buttonStyle">Back</button></a></td>
				<td><a th:href="'/showResume'"><button class="buttonStyle">Download
							File</button></a></td>
			</tr>
		</table>
	</div>
</body>
</html>