<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"
	href="../static/css/home.css"></link>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div class="alert alert-success" align="center"
		th:if="${login.message != null}">
		<span th:text="${login.message}"> </span>
	</div>
	<div align="center">
		<h1>Home</h1>
		<hr />

		<table>
			<tr>
				<td><button class="buttonStyle"
						onclick="window.location.href='register'">Register</button></td>
				<td><button class="buttonStyle"
						onclick="window.location.href='login'">Login</button></td>
			</tr>
		</table>
	</div>
</body>
</html>