<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"
	href="../static/css/home.css"></link>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<div class="alert alert-danger" align="center" th:if="${login.message != null}">
		<span th:text="${login.message}"> </span>
</div>
	<div align="center">
		<h3>Password Reset</h3>
		<form th:action="@{/resetPassword}" th:object="${login}" method="post">
			<table>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Enter
						your User Name</td>

					<td><input type="text" th:field="*{username}"
						th:required="required" maxlength="20" /></td>
						
						
					<td align="left" style="height: 37px; width: 180px;">Enter
						your Password</td>
					<td><input type="password" th:field="*{password}"
						th:required="required" maxlength="20" /></td>
						
						
					<td align="left" style="height: 37px; width: 180px;">Confirm
						your Password</td>
					<td><input type="password" th:field="*{reEnterPassword}"
						th:required="required" maxlength="20" /></td>
				</tr>

			</table>
			<div>
				<table>
					<tr>
						<td><input type="submit" class="buttonStyle"></td>
						<td><input type="reset" value="Reset" class="reset" /></td>
						<td><button class="buttonStyle"
								onclick="window.history.go(-1); return false;">Back</button></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</body>
</html>