<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"
	href="../static/css/home.css"></link>
<title>Registration Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div align="center">
		<h1>Register</h1>
		<hr />
		<!-- <div class="alert alert-danger" align="center"
			th:if="${user.message != null}">
			<span th:text="${user.message}"> </span>
		</div> -->
		<div align="right">
			<table>
				<tr>
					<td><a th:href="'/login'"><button class="logoutStyle">Login</button></a>
					</td>
				</tr>
			</table>
		</div>
		<form action="#" th:action="@{/register}" th:object="${user}"
			method="post" enctype="multipart/form-data">
			<div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('*')}"
					th:each="err : ${#fields.errors('*')}" th:text="${err}"></span>
			</div>
			<hr th:if="${#fields.hasErrors('*')}" />
			<table>
				<tr>
					<td style="height: 37px; width: 180px;" class="info"><span>User
							Name once created</span></td>
					<td class="info"><span>cannot be changed</span></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">User Name
					</td>
					<td style="height: 37px; width: 180px;"><input type="text"
						th:field="*{username}" th:required="required" maxlength="20"
						placeholder="Enter your username" /></td>
				</tr>
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Password</td>

					<td><input type="password" th:field="*{password}"
						th:required="required" placeholder="Enter your password" min="8" />
				<tr>
					<td align="left" style="height: 37px; width: 180px;">First
						Name</td>

					<td><input type="text" th:field="*{firstName}"
						th:required="required" placeholder="John" maxlength="50" />
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Last Name</td>

					<td><input type="text" th:field="*{lastName}"
						th:required="required" placeholder="Doe" maxlength="50" />
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Email</td>

					<td><input type="email" th:field="*{email}"
						th:required="required" placeholder="john.doe@domain.com" />
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Phone
						Number</td>

					<td><input type="text" th:field="*{phoneNumber}"
						th:required="required" maxlength="10" placeholder="9876543210" />
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Experience</td>

					<td><select th:field="*{experience}" th:required="required"><option
								value="">--</option>
							<option th:each="exp: ${expDropdownValues}" th:value="${exp}"
								th:text="${exp}"></option>
					</select> in Years
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Notice
						Period</td>

					<td><select th:field="*{noticePeriod}" th:required="required"><option
								value="">--</option>
							<option th:each="notPeriod: ${noticedropdownValues}"
								th:value="${notPeriod}" th:text="${notPeriod}"></option>
					</select> in Days
				<tr>
					<td align="left" style="height: 37px; width: 180px;">Upload a
						file</td>

					<td><input type="file" th:field="*{file}"
						th:required="required" /></td>
				</tr>
			</table>
			<div align="center">
				<table>
					<tr>
						<td align="left" style="padding-right: 10px;"><input
							type="submit" value="Submit" class="buttonStyle" /></td>
						<td><input type="reset" value="Reset" class="reset" /></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</body>
</html>