<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"
	href="../static/css/home.css"></link>

<title>Welcome</title>
</head>
<body>
	<div class="alert alert-success" align="center"
		th:if="${user.userId != null}">
		<span th:text="${user.message}"> </span>
	</div>
	<div align="center">
		<h1>Welcome Page</h1>
		<hr />
		<div align="right">
			<a th:href="'/logout'"><button class="logoutStyle">Logout</button></a>
		</div>

		<table>
			<tr>
				<td align="left" style="height: 37px; width: 180px;">User Id</td>
				<td th:text="${user.userId}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">User Name</td>
				<td th:text="${user.username}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">First Name</td>
				<td th:text="${user.firstName}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">Last Name</td>
				<td th:text="${user.lastName}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">Email</td>
				<td th:text="${user.email}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">Phone Number</td>
				<td th:text="${user.phoneNumber}"></td>
			</tr>
			<tr>
				<td>Experience</td>
				<td th:text="${user.experience}"></td>
			</tr>
			<tr>
				<td style="height: 37px; width: 180px;">Notice Period</td>
				<td th:text="${user.noticePeriod}"></td>
			</tr>

		</table>
		<div align="center">
			<table>
				<tr>
					<td><a th:href="'/edit/' + ${user.userId}"><button
								class="buttonStyle">Edit</button></a></td>
				</tr>
			</table>


		</div>

	</div>
</body>
</html>