<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Title</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
<body>

	<header th:fragment="header">
		<div class="btn-group btn-group-lg" role="group">
			<button type="button" class="btn btn-secondary">Logout</button>
			<!-- <button type="button" class="btn btn-secondary">Invoices</button>
			<button type="button" class="btn btn-secondary">Customers</button>
			<button type="button" class="btn btn-secondary">Products</button>
			<button type="button" class="btn btn-secondary">Warehouse</button> -->
		</div>
	</header>
</body>
</html>